{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <title>{% block title %}{% trans "Livrô - Autenticação" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/base/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/shared/theme.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/shared/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/shared/toasts.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="toast-message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>
