{% extends 'core/layouts/auth_base.html' %}
{% load static i18n %}

{% block title %}{% trans "Cadastro" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/auth/auth.css' %}">

{% endblock %}

{% block content %}
<div class="auth-page-wrapper">

     {# logo e nome do site #}
    <div class="auth-visual-side">
        <div class="logo-container">
            <i class="fa-solid fa-book"></i>
            <span>Livrô</span>
        </div>
    </div>

    {# formulário (cadastro + ações no topo) #}
    <div class="auth-form-side">
        <div class="top-actions">
            {% get_current_language as LANGUAGE_CODE %}
            {# Form para trocar o idioma #}
            <form action="{% url 'trocar_idioma' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                {% if LANGUAGE_CODE == 'pt-br' %}
                    <input type="hidden" name="language" value="en">
                    <button class="lang-toggle" type="submit">PT 🇧🇷</button>
                {% else %}
                    <input type="hidden" name="language" value="pt-br">
                    <button class="lang-toggle" type="submit">EN 🇬🇧</button>
                {% endif %}
            </form>
        </div>

        {# Container do formulário de cadastro #}
        <div class="form-container">
            <div class="form-header">
                <h2>{% trans "Cadastro" %}</h2>
                <p>{% trans "Vamos lá, crie uma conta" %}</p>
            </div>
            <p class="form-hint">{% trans "Selecione o estado e clique em \"Carregar cidades\" para habilitar a lista." %}</p>

            <form method="post" class="custom-form">
                {% csrf_token %} {{ form.as_p }}

                <button type="submit" name="action" value="refresh_cities" class="btn-secondary">{% trans "Carregar cidades" %}</button>
                <button type="submit" name="action" value="submit" class="btn-submit">{% trans "Cadastrar-se" %}</button>
            </form>

            {# Link para quem já tem conta ir para login #}
            <p class="login-link">{% trans "Já tem uma conta?" %} <a href="/login">{% trans "Entrar" %}</a></p>
        </div>
    </div>

</div>
{% endblock %}
