{% extends 'core/layouts/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Início" %}{% endblock %} 

{% block content %}

    {% include 'core/components/top_bar.html' %}

    {# Página inicial do site, onde o usuário pode ver os livros mais recentes, os livros perto dele e os livros organizados por gênero. #}
    <div class="page-content-wrapper">
        {% if livros_perto %}
            {% trans "Perto de você" as near_label %}
            {% include 'core/components/book_slider.html' with section_title=near_label books_list=livros_perto %}
        {% endif %}

        {% trans "Últimos" as latest_label %}
        {% include 'core/components/book_slider.html' with section_title=latest_label books_list=latest_books %}

        {% for grupo in livros_por_genero %}
            {% include 'core/components/book_slider.html' with section_title=grupo.titulo_secao books_list=grupo.livros %}
        {% endfor %}
    </div>

{% endblock %}
