{% extends 'core/layouts/auth_base.html' %}
{% load static i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/auth/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-page-wrapper">

    {# Lado com logo #}
    <div class="auth-visual-side">
        <div class="logo-container">
            <i class="fa-solid fa-book"></i>
            <span>Livrô</span>
        </div>
    </div>

    {# Lado com formulário de login#}
    <div class="auth-form-side">
        <div class="top-actions">
            {% get_current_language as LANGUAGE_CODE %}
            <form action="{% url 'trocar_idioma' %}" method="post">
                {% csrf_token %}
                {# Volta para a mesma URL após trocar idioma #}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                {# Alterna o idioma #}
                {% if LANGUAGE_CODE == 'pt-br' %}
                <input type="hidden" name="language" value="en">
                <button class="lang-toggle" type="submit">PT 🇧🇷</button>
                {% else %}
                <input type="hidden" name="language" value="pt-br">
                <button class="lang-toggle" type="submit">EN 🇬🇧</button>
                {% endif %}
            </form>
        </div>

        <div class="form-container">
            <div class="form-header">
                {# Título e mensagem de boas-vindas #}
                <h2>{% trans "Entrar" %}</h2>
                <p>{% trans "Bem-vindo de volta! Digite seus dados para acessar." %}</p>
            </div>

            {# Formulário de login #}
            <form method="post" class="custom-form">
                {% csrf_token %}

                {{ form.as_p }}

                <div style="display: flex; flex-direction: column; gap: 12px; margin-top: 24px;">
                    <button type="submit" class="btn-submit">{% trans "Entrar" %}</button>

                    <a href="{% url 'password_reset' %}"
                        style="font-size: 13px; color: #4AA4FF; text-align: center; text-decoration: none;">
                        {% trans "Esqueceu a senha?" %}
                    </a>
                </div>
            </form>
            
              {# Link para cadastro, caso o usuário não tenha conta #}
            <p class="login-link" style="margin-top: 20px;">
                {% trans "Não tem conta?" %}
                <a href="{% url 'registro' %}">{% trans "Cadastre-se" %}</a>
            </p>
        </div>
    </div>

</div>
{% endblock %}