{% extends 'core/layouts/base.html' %}
{% load i18n %}
{% block title %}{% trans "Nova Senha" %}{% endblock %}

{% block content %}
<div class="page-content-wrapper" style="max-width: 500px; margin: 0 auto; margin-top: 80px;">
    <h2 class="section-title" style="text-align: center;">{% trans "Criar Nova Senha" %}</h2>
    
    {% if validlink %}
        <form class="app-custom-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-blue" style="width: 100%; margin-top: 20px;">{% trans "Salvar nova senha" %}</button>
        </form>
    {% else %}
        <p style="text-align: center; color: #ef4444;">
            {% trans "Este link de recuperação é inválido ou já expirou. Por favor, solicite um novo." %}
        </p>
    {% endif %}
</div>
{% endblock %}