{% extends 'core/layouts/base.html' %}
{% load i18n %}
{% block title %}{% trans "Recuperar Senha" %}{% endblock %}

{% block content %}
<div class="page-content-wrapper" style="max-width: 500px; margin: 0 auto; margin-top: 80px;">
    <h2 class="section-title" style="text-align: center;">{% trans "Resetar Senha" %}</h2>
    <p style="text-align: center; color: #666; margin-bottom: 30px;">
        {% trans "Digite seu e-mail abaixo e enviaremos as instruções." %}
    </p>

    <form class="app-custom-form" method="post">
        {% csrf_token %}
        <p>
            <label>E-mail</label>
            {{ form.email }}
        </p>
        <button type="submit" class="btn-blue" style="width: 100%;">{% trans "Enviar e-mail de recuperação" %}</button>
    </form>
</div>
{% endblock %}