{% extends 'core/layouts/base.html' %}
{% load i18n %}
{% block title %}{% trans "Senha Atualizada" %}{% endblock %}

{% block content %}
<div class="page-content-wrapper" style="max-width: 500px; margin: 0 auto; text-align: center; margin-top: 80px;">
    <i class="fa-solid fa-circle-check" style="font-size: 60px; color: #10b981; margin-bottom: 20px;"></i>
    <h2>{% trans "Senha atualizada com sucesso!" %}</h2>
    <a href="{% url 'login' %}" class="btn-blue" style="display: inline-block; margin-top: 20px;">
        {% trans "Ir para o Login" %}
    </a>
</div>
{% endblock %}