{% extends 'core/layouts/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Perfil" %}{% endblock %}

{% block content %}

{% include 'core/components/top_bar.html' %}
{# Página de perfil do usuário, onde ele pode ver suas informações e os livros que tem para troca. #}
<div class="page-content-wrapper">

    {# Mostrando a foto de perfil do usuário ou um placeholder caso não tenha foto #}
    <div class="user-profile-header">
        {% if user.perfil.foto_perfil %}
        <img src="{{ user.perfil.foto_perfil.url }}" alt="{% blocktrans with username=user.username %}Foto de {{ username }}{% endblocktrans %}" class="profile-large-avatar">
        {% else %}
        <div class="avatar-placeholder-large"
            style="width: 130px; height: 130px; border-radius: 50%; border: 3px solid #fff; box-shadow: 0 5px 15px rgba(0,0,0,0.15); display: flex; align-items: center; justify-content: center; background: #e9ecef; color: #adb5bd; font-size: 50px;">
            <i class="fa-solid fa-user"></i>
        </div>
        {% endif %}

    <div class="user-profile-info">
        <h2>
            {% if user.first_name %}
            {{ user.first_name|title }} {{ user.last_name|title }}
            {% else %}
            {{ user.username|title }}
            {% endif %}
        </h2>
        <p>{{ user.perfil.cidade }}</p>
    </div>
</div>

{# Mostrando os livros do usuário #}
<div class="user-books-section">
    {% trans "Meus livros" as meus_livros_label %}
    {% include 'core/components/book_slider.html' with section_title=meus_livros_label books_list=meus_livros %}

    <a href="{% url 'adicionar_livro' %}" class="btn-adicionar-livro" style="text-decoration:none;">
        <div class="logo-container">
            <i class="fa-solid fa-book"></i>
        </div>
        {% trans "Adicionar livro" %}
    </a>
</div>

</div>

{% endblock %}
